<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="icon" type="image/png" href="../static/img/icono.png" sizes="64x64">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Menú | Las Brasas | Restaurant</title>

	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/menu.css') }}">

</head>
<body>
	<main class="container">
		<div class="title">
			<h1>MENU DE COMIDAS</h1>
		</div>
		<div class="horario">
			<div class="h2">
				SERVIDO DIARIAMENTE DE 12PM A 17PM
			</div>
		</div>
		<div class="flex">
			<section class="entrada">
				<div class="h2">
					ENTRADA
			    </div>
			    <div class="contenido">			    	
				    <div class="item">
				    	<div class="w-80">			    		
							<p>
								BREAD BASKET
							</p>
							<p>
								Selección de rollos dorados
							</p>
				    	</div>			 	
						<p>
							$8.9
						</p>
				    </div>

				    <div class="item">
				    	<div class="w-80">			    		
							<p>
								GARLIC AND CHEESE BREAD
							</p>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum exercitationem reiciendis non iure iusto quia expedita.
							</p>
				    	</div>			 	
						<p>
							$7.85
						</p>
				    </div>

				    <div class="item">
				    	<div class="w-80">			    		
							<p>
								BREAD BASKET
							</p>
							<p>
								Selección de rollos dorados
							</p>
				    	</div>			 	
						<p>
							$8.9
						</p>
				    </div>
			    </div>
			</section>

			<section class="compartir">
				<div class="h2">
					PARA COMPARTIR
			    </div>

			    <div class="contenido">
			   
				    <div class="item">
				    	<div class="w-80">			    		
							<p>
								BREAD BASKET
							</p>
							<p>
								Selección de rollos dorados
							</p>
				    	</div>			 	
						<p>
							$8.9
						</p>
				    </div>

				    <div class="item">
				    	<div class="w-80">			    		
							<p>
								GARLIC AND CHEESE BREAD
							</p>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum exercitationem reiciendis non iure iusto quia expedita.
							</p>
				    	</div>			 	
						<p>
							$7.85
						</p>
				    </div>

				    <div class="item">
				    	<div class="w-80">			    		
							<p>
								BREAD BASKET
							</p>
							<p>
								Selección de rollos dorados
							</p>
				    	</div>			 	
						<p>
							$8.9
						</p>
				    </div>
			    </div>

			</section>

		<section class="compartir">
				<div class="h2">
					PRINCIPALES
			    </div>

			    <div class="contenido">
			   
				    <div class="item">
				    	<div class="w-80">			    		
							<p>
								BREAD BASKET
							</p>
							<p>
								Selección de rollos dorados
							</p>
				    	</div>			 	
						<p>
							$8.9
						</p>
				    </div>

				    <div class="item">
				    	<div class="w-80">			    		
							<p>
								GARLIC AND CHEESE BREAD
							</p>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum exercitationem reiciendis non iure iusto quia expedita.
							</p>
				    	</div>			 	
						<p>
							$7.85
						</p>
				    </div>

				    <div class="item">
				    	<div class="w-80">			    		
							<p>
								BREAD BASKET
							</p>
							<p>
								Selección de rollos dorados
							</p>
				    	</div>			 	
						<p>
							$8.9
						</p>
				    </div>
			    </div>

			    

			</section>

			<section class="Postres">
				<div class="h2">
					Postres
			    </div>

			    <div class="contenido">
			   
				    <div class="item">
				    	<div class="w-80">			    		
							<p>
								BREAD BASKET
							</p>
							<p>
								Selección de rollos dorados
							</p>
				    	</div>			 	
						<p>
							$8.9
						</p>
				    </div>

				    <div class="item">
				    	<div class="w-80">			    		
							<p>
								GARLIC AND CHEESE BREAD
							</p>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum exercitationem reiciendis non iure iusto quia expedita.
							</p>
				    	</div>			 	
						<p>
							$7.85
						</p>
				    </div>

				    <div class="item">
				    	<div class="w-80">			    		
							<p>
								BREAD BASKET
							</p>
							<p>
								Selección de rollos dorados
							</p>
				    	</div>			 	
						<p>
							$8.9
						</p>
				    </div>
			    </div>

			    

			</section>

		</div>




	</main>
</body>
</html>